nav.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  background-color:  #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  .breadcrumbs {
    width: 1020px;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
    a {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      color: #333;
    }
    a:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
    .current {
      font-weight: bold;
    }
  }
}
