.exhibit-button {
  width: 160px;
  height: 160px;
  background-color: #ea352d;
  border:0px solid #ea352d;
  border-radius: 80px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  cursor: pointer;
  z-index: 10;
  &__upper {
    width: 100%;
    height: 22px;
    margin-top: 32px;
    p {
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      color: #fff;
    }
  }
  &__lower {
    width: 58px;
    height: 58px;
    margin: 10px auto 0;
    i {
      font-size: 58px;
      text-align: center;
      color: #fff;
    }
  }
}
