-# = render "layouts/single-header"
-# %main.log-main
-#   .login-panel
-#     .login-no-account
-#       %p アカウントをお持ちでない方はこちら
-#       = link_to "新規会員登録",new_user_registration_path,class: "new"
-#     .login-main
-#       .login-main__upper
-#         .login-main__upper__Facebook-btn
-#           = link_to '#',class: "facebook" do
-#             = fa_icon "facebook-square"
-#             Facebookでログイン
-#         .login-main__upper__Google-btn
-#           = link_to '#',class: "google" do
-#             = fa_icon "google"
-#             Googleでログイン
-#       .login-main__lower
-#         .login-main__lower__email
-#           %input.login-input-text{name: "email", placeholder: "メールアドレス", type: "email", value: ""}
-#         .login-main__lower__password
-#           %input.login-input-text{name: "password", placeholder: "パスワード", type: "password"}
-#         .login-main__lower__login
-#           %button.login-submit.btn-default.btn-red{type: "submit"} ログイン
-#         .login-main__lower__reset-start
-#           = link_to "パスワードをお忘れの方",'#',class: "pass"
-# = render "layouts/single-footer"
