- breadcrumb :logout, @user
= render "layouts/header-logined"
-# = render "layouts/breadcrumb"

%main.logout-main.clearfix
  .main-content
    .main-content__logout-btn
      -# %button.btn-default.btn-red{type: "submit"} ログアウト
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn-default btn-red'
  = render "sidebar"
= render "layouts/footer"
