///////////////////////////////////////////////////
//全体共通の記述
///////////////////////////////////////////////////

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-color: rgb(245, 245, 245);
  font-size:14px;
  position: relative;
  min-height: 100%;
  color: rgb(51,51,51);
  line-height: 1;
}

div {
  display: block;
}

a {
  color: #0099e8;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: .7;
}

ul {
  list-style: none;
}

h2 {
  font-size: 12px;
  line-height: 1.4;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

img {
  vertical-align: middle;
}

.single-container {
  padding: 0 0 220px;
}
///////////////////////////////////////////////////
//ヘッダー部分
///////////////////////////////////////////////////

.single-header {
  text-align: center;
  height: 128px;

  h1 {
    margin: 40px 0 0;
    display: inline-block;
  }

  a {
    display: inline-block;
    width: 185px;
    height: 49px;
    line-height: 49px;
    margin: 0 8px 0 0;
  }

  img {
    width: 185px;
    height: 49px;
  }

}


///////////////////////////////////////////////////
//メインの部分
///////////////////////////////////////////////////
.single-main {
}

.l-single-container {
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
}

.l-single-head {
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

///////////////////////////////////////////////////
//フォームの部分
///////////////////////////////////////////////////

.sell-form {
  border: 1px solid #eee;
}

.sell-upload-box {
  width: 620px;
  padding: 40px;
}

.sell-upload-head {
  font-size: 16px;
  // line-height: 16px;
  +p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
}

.form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.sell-dropbox-container.state-image-number-10 {
  display: block;
  width: 620px;
  margin: 16px auto 0;
  .sell-upload-items-container {
    display: inline;
    .sell-upload-items {
      display: inline;
      ul {
        display: inline;
      }
    }
  }
  .sell-upload-drop-box.have-item-0 {
    width: 100%;
    margin-left: 0;
  }
  .sell-upload-drop-box {
    float: right;
    padding: 40px;

    position: relative;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
    cursor: pointer;
  }

}

.sell-upload-items {
  float: left;
  ul {
    width: 100%;
  }
}

.sell-upload-drop-box {
  margin: 0;
  pre {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.visible-pc {
  display: block;
}

.sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
}

.form-group:first-child {
  margin: 0;
}

.form-group {
  margin: 40px 0 0;

  label {
    font-weight: 600;
    +.textarea-default {
      margin: 8px 0 0;
    }
  }

  .input-default {
    width: 100%;
    margin: 8px 0 0;
  }

  .select-wrap {
    margin: 8px 0 0;
  }

  select {
    width: 100%;
  }
}

.select-wrap {
  position: relative;
  background: #fff;
  .fa-angle-down {
    position: absolute;
    right: 14px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 28px;
    font-weight: bold;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.sell-sub-head {
  float: left;
  color: #888;
  font-size: 14px;
}

.sell-form-box {
  float: right;
  width: 400px;
  margin: 0;
}

.select-default {
  padding: 0 16px;
  position: relative;
  z-index: 2;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.sell-price {

  >li:first-child {
    padding: 0 0 24px;
    border: 0;
  }

  >li {
    padding: 24px 0;
    border-top: 1px solid #ccc;
  }

  .form-group {
    .l-left {
      width: 50%;
      line-height: 48px;
    }
    .l-right {
      width: 50%;
    }
  }

  .bold {
    .l-left {
      font-size: 16px;
    }
    .l-right {
      font-size: 34px;
    }
  }
}

.l-left {
  float: left;
}

.sell-price-input {
  text-align: right;

  >div {
    display: inline-block;
    width: 80%;
    margin: 0 0 0 5%;
  }

  .input-default {
    margin: 0;
    text-align: right;
  }
}

.l-right {
  float: right;
}

.bold {
  font-weight: 600;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    opacity: 0;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

.modal-inner {
    max-width: none;
    width: 600px;
    margin: 20px auto;

    position: relative;
    overflow: hidden;
    width: 95%;
    max-width: 375px;
    margin: 8px auto;
    background: #fff;
}

.sell-btn-box {
  p {
    line-height: 1.5;
  }
  .btn-red {
    margin: 40px 0 0;
  }
  .btn-gray {
    width: 45%;
    margin: 24px auto 0;
  }
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

label {
  display: inline-block;
  touch-action: manipulation;

}

pre {
  font-family: monospace,monospace;
  overflow: auto;
}

input {
  border: 0;
  outline: 0;
  touch-action: manipulation;
  background-color: transparent;
}

select {
  outline: 0;
  -webkit-appearance: none;

}

///////////////////////////////////////////////////
//フッター部分
///////////////////////////////////////////////////

.single-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;

  ul {
    font-size: 0;
  }

  li:first-child {
    margin: 0;
  }

  li {
    display: inline-block;
    font-size: 12px;
    margin: 0 0 0 16px;
  }

  a {
    display: block;
    color: #333;
  }

  p {
    margin: 8px 0 0;
  }

  small {
    font-size: 11px;
  }
}

.single-footer-logo {
  width: 80px;
  height: 65px;
  margin: 40px auto 0;

}

