main {
  margin: 40px auto 0;
}

.clearfix-g {
  width: 700px;
}

.product-detail {
  background-color: #fff;
  padding: 24px 40px 40px;
}

.item {
  &-detail {
    &-content {
      margin: 16px 0 0;
      height: 420px;
    }
    &-table {
      float:right;
    }
    &-price {
      margin: 24px 0 0;
      text-align: center;
    }
    &-description {
      padding-top: 32px;
      &-text {
        white-space: pre-wrap;
        font-size: 20px;
      }
    }
  }
  &-name {
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  }
  &-photos {
    width: 300px;
    float: left;
  }
  &-photo {
    width: 300px;
    height: 300px;
    &-srades {
      height: 120px;
      line-height: 0;
      margin: 0;
      padding: 0;
    }
    &-srade {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 0;
      margin: 0;
      padding: 0;
    }
  }
  &-price {
    margin: 0 16px 0 0;
    font-size: 50px;
  }
  &-tax {
    font-size: 10px;
    color: #333;
  }
  &-spping-fee {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
}
