///////////////////////////////////////////////////
//全体共通の記述
///////////////////////////////////////////////////

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
  font-size:14px;
  position: relative;
  min-height: 100%;
  color: rgb(51,51,51);
  line-height: 1;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: .7;
}

ul {
  list-style: none;
}

h2 {
  font-size: 12px;
  line-height: 1.4;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

///////////////////////////////////////////////////
//共通部品のヘッダー・フッターと合体したら不要になるもの
///////////////////////////////////////////////////

.header {
  background-color: #fff;
  width: 100vw;
  height: 90px;
}

.breadcrumb {
  background-color: #fff;
  width: 100vw;
  height: 50px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

.app_banner {
  width: 100vw;
  height: 260px;
  background-color: #ccc;
}

.footer {
  width: 100vw;
  height: 600px;
  background-color: #212121;
}

///////////////////////////////////////////////////
//サイドバー（画面左）の記述
///////////////////////////////////////////////////

.sidebar {
  width: 280px;
  float: left;
  margin-right: 40px;
  .mypage-nav {
    .mypage-nav-list {
      li {
        background-color: #fff;
        border-top: 1px solid #eee;
        .active {
          background-color: #eee;
          font-weight: bold;
          .fa-angle-right {
            color: #333;
          }
        }
        .mypage-nav-list-item {
          color: #333;
          position: relative;
          display: block;
          font-size: 14px;
          line-height: 16px;
          padding: 16px;
          .fa-angle-right {
            color: #ccc;
            font-weight:bold;
            font-size: 22px;
            position: absolute;
            top: 12px;
            right: 16px;
            transition: all ease-out .2s;
          }
        }
        .mypage-nav-list-item:hover {
          .fa-angle-right {
            color: #333;
            right: 12px;
          }
        }
        .active:hover {
          background: #eee;
        }
      }
      li:first-child {
        border: 0;
      }
    }
    .mypage-nav-head {
      font-size: 16px;
      font-weight: bold;
      margin-top: 40px;
    }
    .mypage-nav-head+.mypage-nav-list {
      margin: 8px 0 0;
    }
  }
}

///////////////////////////////////////////////////
//メイン（画面右）の記述
///////////////////////////////////////////////////

.l-container {
  width: 1020px;
  margin: 40px 210px 0;
  padding-bottom: 40px;
  .main-content {
    width: 700px;
    float: right;
    .mypage-user-icon {
      position: relative;
      height: 200px;
      padding: 20px;
      background: image-url('user-bg.jpg');
      text-align: center;
      .bold {
        font-weight: bold;
      }
      a {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: #333;
      }
      a:hover {
        text-decoration: underline;
      }
      figure {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
      }
      h2 {
        margin: 8px 0 0;
        font-size: 13px;
        height: 19px;
      }
      .mypage-number {
        margin: 8px 0 0;
        font-size: 0;
        height: 16px;
        div {
          font-size: 14px;
          line-height: 19.6px;
          display: inline-block;
        }
        span {
          margin: 0 0 0 8px;
          font-size: 14px;
        }
        div+div {
          margin: 0 0 0 16px;
        }
      }
    }
    .mypage-tab-container {
      background-color: #fff;
      .mypage-tabs {
        border: 0;
        background: #eee;
        font-size: 0;
        a{
          color: #333;
          font-size: 16px;
          line-height: 72px;
          display: block;
          position: relative;
        }
        li {
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
        }
        li.active {
          background: #fff;
          a {
            border-top: 2px solid #ea352d;
          }
        }
      }
      .tab-content {
        .tab-pane.active {
          display: block;
        }
        .tab-pane {
          display: none;
        }
        .mypage-item-list {
          li {
            position: relative;
            border-bottom: 1px solid #eee;
            .mypage-item-link {
              display: block;
              min-height: 80px;
              padding: 16px;
              color: #333;
              figure {
                position: relative;
                overflow: hidden;
                float: left;
                width: 48px;
                height: 48px;
                margin: 0;
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  z-index: 1;
                  width: 100%;
                }
              }
              .mypage-item-body {
                margin: 0 40px 0 68px;
                overflow: hidden;
                line-height: 14px;
                .mypage-item-text {
                  overflow: hidden;
                  display: block;
                  max-height: 4.4em;
                  text-overflow: ellipsis;
                  line-height: 1.5;
                  font-size: 14px;
                }
                time {
                  display: inline-block;
                  color: #888;
                  font-size: 14px;
                  vertical-align: middle;
                  i.fa {
                    font-size: 18px;
                    margin: 0 8px 0 0;
                  }
                  span {
                    vertical-align: middle;
                  }
                }
              }
              .fa-angle-right {
                font-weight:bold;
                font-size: 22px;
                position: absolute;
                top: 34px;
                right: 16px;
              }
            }
            .mypage-item-link:hover {
              background: #fafafa;
              opacity: 1;
            }
          }
          li:first-child {
            border-bottom: 1px solid #eee;
          }
          li:last-child {
            border: 0;
          }
          .mypage-go-list {
            font-size: 14px;
            padding: 16px;
            a {
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
            }
          }
          .mypage-item-not-found {
            padding: 160px 0 60px;
            background: image-url('logo-gray-icon.svg');
            background-repeat: no-repeat;
            background-size: 78px 85px;
            background-position: center 40px;
            font-size: 16px;
            text-align: center;
            color: #ccc;
            font-weight: bold;
          }
        }
      }
    }
    .mypage-tab-container.notice-todo {
      margin: 0;
    }
    .mypage-tab-container.purchase {
      margin: 40px 0 0;
      .mypage-tab-head {
        font-size: 16px;
        font-weight: bold;
        padding: 0 16px;
        line-height: 72px;
        background: #fafafa;
      }
    }
  }
}
.l-container.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.sidebar {
  .mypage-nav {
    .mypage-nav-list {
      li {
        a:hover {
          background: #fafafa;
          opacity: 1;
        }
      }
    }
  }
}
