.product-exhibit__user__item-box
  = link_to "#" do
    .product-exhibit__user__item-box__photo
      = image_tag 'fe409ce3.png', class: "product-exhibit__user__item-box__photo"
    .product-exhibit__user__item-box__text
      %p.product-exhibit__user__item-box__text__name ジョジョジョジョジョジョッジョジョジョジョジョジョジョジョジョジョジョッじょジョジョ
      .product-exhibit__user__item-box__text__price
        %span ¥ 14,000
        %span.product-exhibit__user__item-box__text__price-like ❤️
      %p.product-exhibit__user__item-box__text__price-tax (税込)
