= collection_select @product, :small_category, Category.where(division: division).order('sort_by'), :id, :name, {prompt: '---'}, {class: 'sell-form__select'}
= fa_icon('angle-down')
.sell-form__alert#alert-small-category
