.side-bar {
  width: 280px;
  float: left;
  margin-right: 40px;
  .fa-angle-right {
    color: #ccc;
    font-weight:bold;
    font-size: 22px;
    position: absolute;
    top: 12px;
    right: 16px;
    transition: all ease-out .2s;
  }
  %__list-item {
    border-top: 1px solid #eee;
  }
  &__list-item {
    @extend %__list-item;
    background-color: #fff;
    &--current {
      @extend %__list-item;
      background-color: #eee;
      font-weight: bold;
      .fa-angle-right {
        color: #333;
      }
    }
    &--current:hover {
      background: #eee;
    }
  }
  &__list-item:first-child {
    border: 0;
  }
  &__list-link {
    color: #333;
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding: 16px;
  }
  &__list-link:hover {
    background: #fafafa;
    opacity: 1;
    .fa-angle-right {
      color: #333;
      right: 12px;
    }
  }
  &__list-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    + ul {
      margin: 8px 0 0;
    }
  }
}
