.logout-main{
  width: 1020px;
  padding-bottom: 40px;
  .main-content{
    float: right;
    width: 700px;
    height: 180px;
    background-color: white;
    &__logout-btn{
      padding: 64px;
      text-align: center;
      .btn-default{
        width: 60%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        margin: 8px 0 0;
      }
    }
  }
}
.logout-main:after {
  content: '';
  display: block;
  clear: both;
}
