.signup-main{
  .signup-panel{
    max-width: none;
    width: 456px;
    height: 350px;
    margin: 30px auto 0;
    background: #fff;
    border-bottom: solid 1px white;
    .signup-title{
      padding: 40px 64px;
      text-align: center;
      background: #fff;
      border-bottom: solid 1px white;
      p {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .signup-main{
      font-size:14px;
      position: relative;
      min-height: 100%;
      color: rgb(51,51,51);
      line-height: 1;
      height: 200px;
      padding: 24px 32px;
      border-top: 1px solid #eee;
      text-align: center;
      &__Mail-btn{
        .mail{
          margin: 16px 0px 0px 32px;
          background-color: rgb(245, 245, 245);
          border: #979797 solid 1px;
          color: #333;
          display: block;
          line-height: 40px;
          width: 328px;
        }
      }
      &__Facebook-btn{
        .facebook {
          margin: 16px 0px 0px 32px;
          background: #385185;
          color: #fff;
          display: block;
          border: 1px solid #0099e8;
          line-height: 40px;
          width: 328px;
          .fa {
            font-size: 16px;
          }
        }
      }
      &__Google-btn{
        .google {
          margin: 16px 0px 0px 32px;
          background: #fff;
          border: #979797 solid 1px;
          color: #333;
          display: block;
          line-height: 40px;
          width: 328px;
          .fa {
            font-size: 18px;
            background: linear-gradient(red, yellow, green, blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

.signup {
  height: 100vh;
}
