.top-page-items-boxes {
  width: 940px;
  margin: 0 auto;
  h3 {
    display: block;
    margin: 26px 11px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    a {
      color: #0099e8;
    }
    a:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
  &__content {
    width: auto;
    margin: 0 auto;
    &__item-box {
      margin: 0 0 0 20px;
      width: 213px;
      float: left;
      background-color: #fff;
      cursor: pointer;
      &__image {
        width: 100%;
        img {
          object-fit: cover;
          width: 213px;
          height: 213px;
        }
      }
      &__text {
        height: 110px;
        padding: 16px;
        h4 {
          display: block;
          font-size: 16px;
          font-weight: 400;
          overflow: hidden;
          line-height: 1.5;
          height: 3em;
          word-break: break-word;
          white-space: normal;
          color: #333;
          position: relative;
        }
        h4:after {
          display: block;
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 50%;
          height: 1.5em;
          background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
        }
        h5 {
          display: block;
          font-size: 16px;
          font-weight: 600;
          color: #333;
          margin: 8px 0 0;
          height: 1em;
        }
        p {
          font-size: 10px;
          color: #333;
          line-height: 20px;
        }
      }
    }
  }
  &__view-all {
    clear: both;
    padding: 20px 0 30px;
    width: 99.5%;
    p {
      text-align: right;
      color: #0099e8;
      text-decoration: none;
      font-size: 14px;
    }
    p:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}
