%header.header
  .header__contents
    .header__contents__upper
      .header__contents__upper__logo
        = link_to root_path do
          = image_tag "logo.svg"
      .header__contents__upper__form
        %input.header__contents__upper__form__text-field{:name => "nickname", :placeholder => "キーワードから探す", :type => "text"}/
    .header__contents__lower.clearfix
      %nav.header__contents__lower__brand-and-category-search
        %ul
          %li
            %p カテゴリーから探す
          %li
            %p ブランドから探す
      .header__contents__lower__button
        %ul
          %li.header__contents__lower__button__login
            = link_to new_user_session_path, class: 'header__contents__lower__button__login' do
              %p ログイン
          %li.header__contents__lower__button__signup
            = link_to signup_users_path, class: 'header__contents__lower__button__signup' do
              %p 新規会員登録
