%header.header
  .header__contents
    .header__contents__upper
      .header__contents__upper__logo
        = link_to root_path do
          = image_tag "logo.svg"
      .header__contents__upper__form
        .header__contents__upper__form__text-field
    .header__contents__lower.clearfix
      %nav.header__contents__lower__brand-and-category-search
        %ul
          %li
            %p カテゴリーから探す
          %li
            %p ブランドから探す
      .header__contents__lower__button
        %ul
          %li.header__contents__lower__button__login
            %p ログイン
          %li.header__contents__lower__button__signup
            %p 新規会員登録


