-# %footer.single-footer
-#   = link_to "プライバシーポリシー" ,"#",class: "sentence"
-#   = link_to "メルカリ利用規約" ,"#",class: "sentence"
-#   = link_to "特定商取引に関する表記" ,"#",class: "sentence"
-#   .mark
-#     = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?128691313", alt: 'mercari'
%footer.sell-footer
  %ul.sell-footer__list
    %li.sell-footer__item
      プライバシーポリシー
    %li.sell-footer__item
      メルカリ利用規約
    %li.sell-footer__item
      特定商取引に関する表記
  = link_to root_path, class: 'sell-footer__logo' do
    = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1445690901', size: '80x65'
  %p.sell-footer__copyright
    ©︎ 2019 Mercari
